nav {
  background-color: cadetblue;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}


.logincont {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logincont article,
.logincont form {
  width: 100%;
  max-width: 420px;
}

.logincont button {
  background-color: darkcyan;
  border: none;
}

