nav {
  background-color: cadetblue;
}

/*----LOGIN----*/

.login-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logincont {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logincont form {
  width: 100%;
  max-width: 420px;
}

.logincont button {
  background-color: darkcyan;
  border: none;
}

.email-group {
  display: flex;
  align-items: center;
  width: 100%;
}

.email-suffix {
  padding-left: 5px;
  padding-bottom: 20px;
}

/*-----ADMIN-----*/
.admin-nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.admin-title{
  margin-right: 2%;
}

/* .admin-btns{

  
} */

a.nav-btn {
  background-color: #044e4e;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 2%;
  
}

a.nav-btn:hover {
  background-color: #066868;
}




