<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Dashboard</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>

  <link rel="stylesheet" href="myui.css"/>
</head>

<body>
  <nav>
    <ul>
      <li><strong>Admin Dashboard</strong></li>
    </ul>
    <ul>
      <li><a href="#">Officers</a></li>
      <li><a href="#">Programmes</a></li>
    </ul>
  </nav>
</body>

</html>