<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Dashboard</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>

  <link rel="stylesheet" href="myui.css"/>
</head>

<body>
  <nav class="admin-nav">
    <ul class = "admin-title">
      <li><h3>Admin Dashboard</h3></li>
    </ul>
    <ul class="admin-btns">
      <li><a href="/officers" class="nav-btn">Officers</a></li>
      <li><a href="/programmes" class="nav-btn">Programmes</a></li>
    </ul>
  </nav>
</body>

</html>