<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />

    <link rel="stylesheet" href="myui.css" />
  </head>
  <body>
    <main class="container">
  <section class="landing">
    <nav>
      <ul class="login-title">
        <li><h2>Welcome to HedClass</h2></li>
      </ul>
    </nav>

    <div class="logincont">
      <article>
        <form action="/" method="post">
          <h2>Login</h2>

          <label for="email">Email</label>
          <div class="email-group">
            <input
              id="email"
              type="text"
              name="userEmail"
              placeholder="Enter email"
              required
            />
            <span class="email-suffix">@hedclass.com</span>
          </div>

          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            name="password"
            required
          />

          <button type="submit">Submit</button>
        </form>
      </article>
    </div>
  </section>
</main>
  </body>
</html>